*{
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
}


.dashboard {
    padding: 10px;
    background-color: #37353E;
    color: white;
    font-size: 22px;
    grid-area: 1 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dashboard a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 27px;
}

.dashboard>ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
}

.header {
    background-color: #F6F1E9;
    padding: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-header {
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: space-between;
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-h {
    display: flex;
}

.header > div >div> img,.profile-icon {
    height: 40px;
    width: 40px;
    overflow: hidden;
    object-fit:cover;
}

.header>div>div>.search-bar {
    background-color: rgb(124, 255, 235);
    padding: 8px;
    width: 700px;
    border-radius: 20px;
    border: none;
}

.search-bar::placeholder {
    color: black;
    font-size: 17px;
    opacity: 1;
}

.profile-name {
    font-weight: bolder;
    font-size: 22px;
}

.header>div>div>.p-icon {
    height: 60px;
    width: 60px;
    border: 50%;
    overflow: hidden;
    object-fit: cover;
}

.bh {
    display: flex;
    gap: 20px;
}

#header-icon {
    border-radius: 22px;
    background-color: rgb(116, 116, 243);
    width: 100px;
    height: 45px;
    color: white;
    text-align: center;
    line-height: 45px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    row-gap: 28px;
    column-gap: 28px;
    padding: 30px;
}

.project-div {
    background-color: antiquewhite;
    height: 310px;
    width: 420px;
    border-left: 8px rgb(236, 196, 121) solid;
    border-radius: 11px;
    box-shadow: 0 6px 8px rgb(130, 128, 128);
}

#img-container {
    height: 200px;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    
}

#title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.proj-actions {
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}